{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
	
	<h1 class="portfolio-title">Sobre</h1>
	<div class="row">
	  <div style="padding: 5% 10% 10% 10%">
	    <p>
	      Tenho graduação e mestrado em Engenharia Metalúrgica e de Materiais, ambos pela Universidade Federal do Rio de Janeiro (COPPE/UFRJ), e estou concluindo o último ano de doutorado no mesmo curso.<br>Nos últimos meses, venho realizando uma transição de carreira para a área de produto.<br>Gosto de lidar com pessoas e aplicar abordagens analíticas à pesquisa e desenvolvimento de produtos.
            </p>
	  </div>
        </div>

	<br><br>
	
	<h1 class="portfolio-title">Portfólio</h1>
        <div class="row">
          <div class="col-md-12">

            {% if site.section_title != '' %}
            <h2 class="section-title text-center">{{ site.section_title }}</h2>
            {% endif %}
            {% if site.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            {% for post in paginator.posts %}
              <div class="wow fadeIn">
              {% if post.position == "left" %}
                {% include content-left.html %}
              {% endif %}

              {% if post.position == "right" %}
                {% include content-right.html %}
              {% endif %}
              </div>
            {% endfor %}

            {% include pagination.html %}

          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
